body {
    background-color: #000000;
    -webkit-transition: 0.75s all ease-in-out;
    -moz-transition: 0.75s all ease-in-out;
    -o-transition: 0.75s all ease-in-out;
    transition: 0.75s all ease-in-out;
    color: #cccccc;
}
body.light {
    background-color: #ffffff;
    color: #333333;
}
h1.pageTitle {
    font-size: 24pt
}
div.pageMain {
    text-align: center;
}
div.pageMain > label {
    position: relative;
    bottom: 2em;
    font-size: 14pt;
    display: inline-block;
    min-width: 100px;
}
button.ledswitch {
    background-color: transparent;
    border: 0px;
    color: #ffffff;
}
button.ledswitch > img {
    max-width: 240px;
}
button.ledswitch:hover {
    transition: 0.5s all ease;
    cursor:pointer;
}
body.light button.ledswitch {
    color: #000000;
}
.errormsg {
    color: red;
    font-weight: bold;
    background-color: white;
    padding: 0.5em;
}
#btnSwitchL0:hover {
    filter:brightness(110%);
}
#btnSwitchL1 {
    filter: hue-rotate(220deg);
}
#btnSwitchL1:hover {
    filter:hue-rotate(220deg) brightness(110%) !important;
}
#btnSwitchL2 {
    filter: grayscale(1);
}
#btnSwitchL2:hover {
    filter: grayscale(1) brightness(110%) !important;
}
#btnSwitchL3 {
    filter: hue-rotate(130deg);
}
#btnSwitchL3:hover {
    filter: hue-rotate(130deg) brightness(110%) !important;
}
#btnSwitchL4 {
    filter: hue-rotate(270deg);
}
#btnSwitchL4:hover {
    filter: hue-rotate(270deg) brightness(110%) !important;
}
#btnSwitchL5 {
    filter: hue-rotate(70deg);
}
#btnSwitchL5:hover {
    filter: hue-rotate(70deg) brightness(120%) !important;
}
#btnSwitchL6 {
    filter: hue-rotate(200deg);
}
#btnSwitchL6:hover {
    filter: hue-rotate(200deg) brightness(110%) !important;
}
#btnSwitchL7 {
    filter: hue-rotate(50deg);
}
#btnSwitchL7:hover {
    filter: hue-rotate(50deg) brightness(120%) !important;
}

@media (max-width: 740px) {
    div.pageMain > label {
        min-width: 100% !important;
        bottom: 0 !important;
    }

}