[Unit]
Description=Led alarm HTTP REST Api.
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/python3 /opt/LedAlarmApi/ledalarmapi.py
User=pi
Group=pi
NoNewPrivileges=true
PrivateTmp=true
ProtectKernelModules=true
MemoryDenyWriteExecute=true
# strict makes the entire file system read only:
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
